/*===========================================================================================
 * Tab Group Color Rework
 * Remove the accent line and use a thin colored border line instead
 *===========================================================================================*/

:root {
  /* TAB GROUP COLORS
  * tab-group-color-* is used for expanded groups in light mode and collapsed groups in dark mode
  * tab-group-color-*-invert is used for expanded groups in dark mode
  * tab-group-color-*-pale is used for collapsed groups in light mode */
  --tab-group-color-blue: color-mix(in lab, var(--tab-group-color-blue-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #0069CC */
  --tab-group-color-blue-invert: #52A9FE !important; /* Default: #52A9FE */
  --tab-group-color-blue-pale: #F2F9FF !important; /* Default: #F2F9FF */
  --tab-group-color-purple: color-mix(in lab, var(--tab-group-color-purple-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #8C39BC */
  --tab-group-color-purple-invert: #C188EA !important; /* Default: #C188EA */
  --tab-group-color-purple-pale: #FBF6FF !important; /* Default: #FBF6FF */
  --tab-group-color-cyan: color-mix(in lab, var(--tab-group-color-cyan-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #007B7C */
  --tab-group-color-cyan-invert: #4AB6C7 !important; /* Default: #4AB6C7 */
  --tab-group-color-cyan-pale: #EFFBFC !important; /* Default: #EFFBFC */
  --tab-group-color-orange: color-mix(in lab, var(--tab-group-color-orange-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #B14200 */
  --tab-group-color-orange-invert: #EE8545 !important; /* Default: #EE8545 */
  --tab-group-color-orange-pale: #FFF6F1 !important; /* Default: #FFF6F1 */
  --tab-group-color-yellow: color-mix(in lab, var(--tab-group-color-yellow-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #955C00 */
  --tab-group-color-yellow-invert: #F5AE39 !important; /* Default: #F5AE39 */
  --tab-group-color-yellow-pale: #FCF8EF !important; /* Default: #FCF8EF */
  --tab-group-color-pink: color-mix(in lab, var(--tab-group-color-pink-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #BB1562 */
  --tab-group-color-pink-invert: #E17CC2 !important; /* Default: #E17CC2 */
  --tab-group-color-pink-pale: #FFF5FB !important; /* Default: #FFF5FB */
  --tab-group-color-green: color-mix(in lab, var(--tab-group-color-green-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #477A00 */
  --tab-group-color-green-invert: #6EBB5D !important; /* Default: #6EBB5D */
  --tab-group-color-green-pale: #F4FBF2 !important; /* Default: #F4FBF2 */
  --tab-group-color-red: color-mix(in lab, var(--tab-group-color-red-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #C21725 */
  --tab-group-color-red-invert: #F47B74 !important; /* Default: #F47B74 */
  --tab-group-color-red-pale: #FFF5F5 !important; /* Default: #FFF5F5 */
  --tab-group-color-gray: color-mix(in lab, var(--tab-group-color-gray-invert) 80%, var(--firefoxcss-secondary-bg-color) 10%) !important; /* Default: #5E6A77 */
  --tab-group-color-gray-invert: #99A6B4 !important; /* Default: #99A6B4 */
  --tab-group-color-gray-pale: #F2F9FF !important; /* Default: #F2F9FF */


  /* Mixed colors */
  --tab-group-color-blue-mix: color-mix(in lab, var(--tab-group-color-blue-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-blue-mix-dimmed: color-mix(in lab, var(--tab-group-color-blue-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-purple-mix: color-mix(in lab, var(--tab-group-color-purple-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-purple-mix-dimmed: color-mix(in lab, var(--tab-group-color-purple-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-cyan-mix: color-mix(in lab, var(--tab-group-color-cyan-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-cyan-mix-dimmed: color-mix(in lab, var(--tab-group-color-cyan-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-orange-mix: color-mix(in lab, var(--tab-group-color-orange-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-orange-mix-dimmed: color-mix(in lab, var(--tab-group-color-orange-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-yellow-mix: color-mix(in lab, var(--tab-group-color-yellow-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-yellow-mix-dimmed: color-mix(in lab, var(--tab-group-color-yellow-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-pink-mix: color-mix(in lab, var(--tab-group-color-pink-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-pink-mix-dimmed: color-mix(in lab, var(--tab-group-color-pink-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-green-mix: color-mix(in lab, var(--tab-group-color-green-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-green-mix-dimmed: color-mix(in lab, var(--tab-group-color-green-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-red-mix: color-mix(in lab, var(--tab-group-color-red-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-red-mix-dimmed: color-mix(in lab, var(--tab-group-color-red-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-gray-mix: color-mix(in lab, var(--tab-group-color-gray-invert) 70%, var(--firefoxcss-secondary-bg-color) 40%);
  --tab-group-color-gray-mix-dimmed: color-mix(in lab, var(--tab-group-color-gray-invert) 30%, var(--firefoxcss-secondary-bg-color) 40%);
}

/* Remove the accent line */
.tabbrowser-tab .tab-background {
  overflow: clip !important;
}

tab-group[collapsed] > .tab-group-label-container > .tab-group-label {
  color: black !important;
}

/* Normal tabs design */
#tabbrowser-tabs tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-blue-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-purple-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-cyan-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-orange-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-yellow-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-pink-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-green"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-green-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-red"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-red-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-gray-mix-dimmed) !important;
}

/* Normal tabs design on hover */
#tabbrowser-tabs tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-blue-mix) !important;
  background-color: var(--tab-group-color-blue-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-purple-mix) !important;
  background-color: var(--tab-group-color-purple-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-cyan-mix) !important;
  background-color: var(--tab-group-color-cyan-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-orange-mix) !important;
  background-color: var(--tab-group-color-orange-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-yellow-mix) !important;
  background-color: var(--tab-group-color-yellow-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-pink-mix) !important;
  background-color: var(--tab-group-color-pink-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-green"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-green-mix) !important;
  background-color: var(--tab-group-color-green-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-red"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-red-mix) !important;
  background-color: var(--tab-group-color-red-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab:hover .tab-background:not([selected]) {
  border: 1.5px solid var(--tab-group-color-gray-mix) !important;
  background-color: var(--tab-group-color-gray-mix-dimmed) !important;
}

/* Selected tabs design */
#tabbrowser-tabs tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-blue-invert) !important;
  background-color: var(--tab-group-color-blue-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-purple-invert) !important;
  background-color: var(--tab-group-color-purple-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-cyan-invert) !important;
  background-color: var(--tab-group-color-cyan-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-orange-invert) !important;
  background-color: var(--tab-group-color-orange-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-yellow-invert) !important;
  background-color: var(--tab-group-color-yellow-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-pink-invert) !important;
  background-color: var(--tab-group-color-pink-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-green"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-green-invert) !important;
  background-color: var(--tab-group-color-green-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-red"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-red-invert) !important;
  background-color: var(--tab-group-color-red-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab .tab-background[selected] {
  border: 1.5px solid var(--tab-group-color-gray-invert) !important;
  background-color: var(--tab-group-color-gray-mix) !important;
}

/* Multiselect tabs */
#tabbrowser-tabs tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-blue-mix) !important;
  background-color: var(--tab-group-color-blue-mix-dimmed)  !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-purple-mix) !important;
  background-color: var(--tab-group-color-purple-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-cyan-mix) !important;
  background-color: var(--tab-group-color-cyan-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-orange-mix) !important;
  background-color: var(--tab-group-color-orange-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-yellow-mix) !important;
  background-color: var(--tab-group-color-yellow-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-pink-mix) !important;
  background-color: var(--tab-group-color-pink-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-green"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-green-mix) !important;
  background-color: var(--tab-group-color-green-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-red"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-red-mix) !important;
  background-color: var(--tab-group-color-red-mix-dimmed) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab .tab-background:is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-gray-mix) !important;
  background-color: var(--tab-group-color-gray-mix-dimmed) !important;
}

#tabbrowser-tabs tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-blue-invert) !important;
  background-color: var(--tab-group-color-blue-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-purple-invert) !important;
  background-color: var(--tab-group-color-purple-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-cyan-invert) !important;
  background-color: var(--tab-group-color-cyan-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-orange-invert) !important;
  background-color: var(--tab-group-color-orange-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-yellow-invert) !important;
  background-color: var(--tab-group-color-yellow-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-pink-invert) !important;
  background-color: var(--tab-group-color-pink-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-green"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-green-invert) !important;
  background-color: var(--tab-group-color-green-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-red"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-red-invert) !important;
  background-color: var(--tab-group-color-red-mix) !important;
}
#tabbrowser-tabs tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 1.5px solid var(--tab-group-color-gray-invert) !important;
  background-color: var(--tab-group-color-gray-mix) !important;
}

