#PersonalToolbar {
  --uc-bm-height: 24px;
  /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 6px;
  /* Vertical padding to be applied to bookmarks */
  padding: 1px 6px !important;
  position: relative;
}

:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 6px;
}

/* Firefox v133 fix  */
#navigator-toolbox{
  --browser-area-z-index-toolbox: 4;
}

/* Fix navigator-toolbox absolute elements when in fullscreen. Like in fullscreen video.   */
:root[inDOMFullscreen] #navigator-toolbox {
--browser-area-z-index-toolbox: initial;
}

/* Bookmarks bar background color */
#navigator-toolbox #PersonalToolbar {
background-color: var(--firefoxcss-bookmarks-bg-color) !important;
}

#PersonalToolbar {
  margin-bottom: calc(
    2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding)
  ) !important;
  opacity: 0 !important;
  transform: rotateX(90deg) !important;
  transform-origin: top !important;
  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms !important;
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover:not(:has(#urlbar[breakout][breakout-extend]:hover)) > #PersonalToolbar,
#navigator-toolbox > #PersonalToolbar:has(.toolbar-menupopup[dragstart]),
#navigator-toolbox > #PersonalToolbar:has(.bookmark-item[open]),
#PersonalToolbar[customizing] {
  opacity: 1 !important;
  transform: rotateX(0) !important;
}


