:root {
  --uc-bm-height: 24px;
  --uc-bm-padding: 6px;
  --uc-bm-autohide-open-duration: 300ms;
  --uc-bm-autohide-open-delay: 200ms;
  --uc-bm-autohide-close-duration: 300ms;
  --uc-bm-autohide-close-delay: 200ms;
  --uc-bm-popout-adjust: 1px; /* Adding a check for the custom theme here, because I don't know where the extra pixel comes from */
}

/* Bookmarks bar background color */
#navigator-toolbox #PersonalToolbar {
background-color: var(--firefoxcss-bookmarks-bg-color) !important;
position: relative !important;
}

#PersonalToolbar {
  margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding)) !important;
  opacity: 0 !important;
  transform: rotateX(90deg) !important;
  transform-origin: top !important;
  transition-property: transform, opacity !important;
  transition-duration: var(--uc-bm-autohide-close-duration), var(--uc-bm-autohide-close-duration) !important;
  transition-delay: var(--uc-bm-autohide-close-delay), var(--uc-bm-autohide-close-delay) !important;
  transition-timing-function: ease-in-out, ease-in-out !important;
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover:not(:has(#urlbar[breakout][breakout-extend]:hover)) > #PersonalToolbar,
#navigator-toolbox > #PersonalToolbar:has(.toolbar-menupopup[dragstart]),
#navigator-toolbox > #PersonalToolbar:has(.bookmark-item[open]),
#PersonalToolbar[customizing] {
  opacity: 1 !important;
  transform: rotateX(0) !important;
  transition-property: transform, opacity !important;
  transition-duration: var(--uc-bm-autohide-open-duration), var(--uc-bm-autohide-open-duration) !important;
  transition-delay: var(--uc-bm-autohide-open-delay), var(--uc-bm-autohide-open-delay) !important;
  transition-timing-function: ease-in-out, ease-in-out !important;
}

:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 6px;
}

/* Firefox v133 fix  */
#navigator-toolbox{
  --browser-area-z-index-toolbox: 4;
}

/* Fix navigator-toolbox absolute elements when in fullscreen. Like in fullscreen video.   */
:root[inDOMFullscreen] #navigator-toolbox {
--browser-area-z-index-toolbox: initial;
}
