:root {
  --uc-bm-height: 24px;
  --uc-bm-padding: 6px;
}

/* Bookmarks bar background color */
#navigator-toolbox #PersonalToolbar {
background-color: var(--firefoxcss-bookmarks-bg-color) !important;
}

#PersonalToolbar {
  margin-bottom: calc(
    2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding)
  ) !important;
  padding: 0px !important;
  opacity: 0 !important;
  transform: rotateX(90deg) !important;
  transform-origin: top !important;
  transition-property: transform, opacity, padding !important;
  transition-duration: 300ms, 300ms, 0ms !important;
  transition-delay: 200ms, 200ms, 500ms !important;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out !important;
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover:not(:has(#urlbar[breakout][breakout-extend]:hover)) > #PersonalToolbar,
#navigator-toolbox > #PersonalToolbar:has(.toolbar-menupopup[dragstart]),
#navigator-toolbox > #PersonalToolbar:has(.bookmark-item[open]),
#PersonalToolbar[customizing] {
  padding: 1px 6px !important;
  opacity: 1 !important;
  transform: rotateX(0) !important;
  transition-property: transform, opacity, padding !important;
  transition-duration: 300ms, 300ms, 0ms !important;
  transition-delay: 200ms, 200ms, 200ms !important;
  transition-timing-function: ease-in-out, ease-in-out, linear !important;
}

:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 6px;
}

/* Firefox v133 fix  */
#navigator-toolbox{
  --browser-area-z-index-toolbox: 4;
}

/* Fix navigator-toolbox absolute elements when in fullscreen. Like in fullscreen video.   */
:root[inDOMFullscreen] #navigator-toolbox {
--browser-area-z-index-toolbox: initial;
}
