:root {
  --uc-bm-height: 24px;
  --uc-bm-padding: 6px;
  --uc-bm-autohide-open-duration: 300ms;
  --uc-bm-autohide-open-delay: 200ms;
  --uc-bm-autohide-close-duration: 300ms;
  --uc-bm-autohide-close-delay: 200ms;
}

#PersonalToolbar {
  height: 0px !important;
  opacity: 0 !important;
  transition-property: height, opacity !important;
  transition-duration: var(--uc-bm-autohide-close-duration), var(--uc-bm-autohide-close-duration) !important;
  transition-delay: var(--uc-bm-autohide-close-delay), var(--uc-bm-autohide-close-delay) !important;
  transition-timing-function: ease-in-out, ease-in-out !important;
}

#navigator-toolbox:hover:not(:has(#urlbar[breakout][breakout-extend]:hover)) > #PersonalToolbar,
#PersonalToolbar:has(.bookmark-item[open]),
#navigator-toolbox > #PersonalToolbar:has(.toolbar-menupopup[dragstart]),
#PersonalToolbar[customizing] {
  height: calc(var(--uc-bm-height) + 2*var(--uc-bm-padding)) !important;
  opacity: 1 !important;
  transition-property: height, opacity !important;
  transition-duration: var(--uc-bm-autohide-open-duration), var(--uc-bm-autohide-open-duration) !important;
  transition-delay: var(--uc-bm-autohide-open-delay), var(--uc-bm-autohide-open-delay) !important;
  transition-timing-function: ease-in-out, ease-in-out !important;
}

:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 6px;
}

/* Firefox v133 fix */
#navigator-toolbox{
  --browser-area-z-index-toolbox: 4;
}

/* Fix navigator-toolbox absolute elements when in fullscreen. Like in fullscreen video. */
:root[inDOMFullscreen] #navigator-toolbox {
	--browser-area-z-index-toolbox: initial;
}

