/* Show a highlight border around selected tab */
/* Use 1 of the 2 methods below*/

/********** 1st method **********/
:root {
    --firefoxcss-tab-border-highlight-selected-color: #ffa500;
    --firefoxcss-tab-border-highlight-multiselected-color: color-mix(in srgb, var(--firefoxcss-tab-border-highlight-selected-color) 30%, transparent);
    --firefoxcss-tab-border-highlight-glow-color: color-mix(in srgb, var(--firefoxcss-tab-border-highlight-selected-color) 60%, white);
}

/* Selected tab design */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--firefoxcss-tab-border-highlight-selected-color) !important;
  box-shadow: 0 0 4px 1px var(--firefoxcss-tab-border-highlight-glow-color) !important;
}

/* Multiselect tabs */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected] {
  border: 1.5px solid var(--firefoxcss-tab-border-highlight-multiselected-color) !important;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background:is([selected]):is([multiselected]) {
  border: 2px solid var(--firefoxcss-tab-border-highlight-selected-color) !important;
  box-shadow: 0 0 4px 1px var(--firefoxcss-tab-border-highlight-glow-color) !important;
}

#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-blue"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-blue-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-blue-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-purple"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-purple-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-purple-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-cyan"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-cyan-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-cyan-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-orange"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-orange-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-orange-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-yellow"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-yellow-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-yellow-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-pink"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-pink-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-pink-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-green"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-green-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-green-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-red"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-red-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-red-invert) 60%, white) !important;
}
#TabsToolbar #tabbrowser-tabs tab-group[style*="--tab-group-color-gray"] .tabbrowser-tab .tab-background[selected] {
  border: 2px solid var(--tab-group-color-gray-invert) !important;
  box-shadow: 0 0 4px 1px color-mix(in srgb, var(--tab-group-color-gray-invert) 60%, white) !important;
}


/********** 2nd method **********/
/* - This allows the highlight border to be a gradient since `border` can't use gradient color yet
 * - The drawback of this method is that the values below are hand-tested and independent of the
 * values for tab which are set in the main `userChrome.css` file. Reason for this is I'm not familiar
 * with CSS, that's all.
 * - Another drawback is that when the tab width gets extremely close to the current tab-min-width (45px)
 * because the number of tabs increase, the right side of the border get slightly thicker than the other
 * edges of the border.
 *
 * :root {
 *     --firefoxcss-tab-border-highlight-selected-color: linear-gradient(45deg, rgb(6, 212, 109), rgb(251, 146, 0)) !important;
 *     --firefoxcss-tab-border-highlight-multiselected-color: color-mix(in srgb, var(--firefoxcss-tab-border-highlight-selected-color) 30%, transparent);;
 *     --firefoxcss-tab-border-highlight-glow-color: #54d193;
 * }
 *
 * [> Selected tab design <]
 * .tabbrowser-tab[selected] > .tab-stack::before{
 *   content: "";
 *   border-radius: 11.5px;
 *   grid-area: 1/1;
 *   margin-top: 2px !important;
 *   margin-bottom: 4px !important;
 *   margin-left: -2px !important;
 *   margin-right: -2.5px !important;
 *   background: var( --identity-tab-color, var(--firefoxcss-tab-border-highlight-selected-color)) !important;
 *   box-shadow: 0 0 4px var(--firefoxcss-tab-border-highlight-glow-color) !important;
 * }
 *
 * [> Multiselect tabs <]
 * .tabbrowser-tab[multiselected] > .tab-stack::before{
 *   content: "";
 *   border-radius: 11.5px;
 *   grid-area: 1/1;
 *   margin-top: 2.5px !important;
 *   margin-bottom: 4.5px !important;
 *   margin-left: -2.5px !important;
 *   margin-right: -3px !important;
 *   background: var( --identity-tab-color, var(--firefoxcss-tab-border-highlight-multiselected-color)) !important;
 * }
 *
 * [> Multiselect tabs on hover <]
 * .tabbrowser-tab:is(:hover):is([multiselected]) > .tab-stack::before{
 *   content: "";
 *   border-radius: 11.5px;
 *   grid-area: 1/1;
 *   margin-top: 2.5px !important;
 *   margin-bottom: 4.5px !important;
 *   margin-left: -2.5px !important;
 *   margin-right: -3px !important;
 *   background: var( --identity-tab-color, var(--firefoxcss-tab-border-highlight-multiselected-color)) !important;
 * }
 * 
 * .tabbrowser-tab:is([selected]):is([multiselected]) > .tab-stack::before{
 *   content: "";
 *   border-radius: 11.5px;
 *   grid-area: 1/1;
 *   margin-top: 2px !important;
 *   margin-bottom: 4px !important;
 *   margin-left: -2px !important;
 *   margin-right: -2.5px !important;
 *   background: var( --identity-tab-color, var(--firefoxcss-tab-border-highlight-selected-color)) !important;
 *   box-shadow: 0 0 4px var(--firefoxcss-tab-border-highlight-glow-color) !important;
 * } */

